* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 50px auto;
  display: flex;
  max-width: 700px;
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  cursor: pointer;

  .img {
    min-width: 700px;
    height: 100%;
    object-fit: cover;
  }
  .btn {
    padding: 4px 10px;
    font-size: 2rem;
    background-color: antiquewhite;
    font-weight: 700;
  }
  .btn-next {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #8a8a8a66;
    transition: all 0.1s linear;
    &:hover {
      cursor: pointer;
      background-color: #000000a6;
    }

    .btn-next-icon {
      font-size: 18px;
      color: white;
    }
  }

  .btn-prev {
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);

    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #8a8a8a66;
    transition: all 0.1s linear;
    &:hover {
      cursor: pointer;
      background-color: #000000a6;
    }
    .btn-prev-icon {
      font-size: 18px;
      color: white;
    }
  }

  .dotsParent {
    z-index: 100;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    gap: 14px;

    span {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: #000;
      opacity: 0.25;
      border-radius: 50%;
      -webkit-tap-highlight-color: transparent;
      &:hover {
        opacity: 1;
        cursor: pointer;
        background-color: #0a68ff;
      }
    }
  }

  .dots.active {
    background-color: #0a68ff;
    opacity: 1;
  }
}
